.scrollBtn{
  position: fixed;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.scrollBtn a{
  display: block;
}
.scrollBtn__Add{
  top: 110px;
}
.scrollBtn__Search{
  top: 140px;
}